@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  * {
    @apply border-gray-200 outline-blue-500/50;
  }
  body {
    @apply bg-white text-black antialiased;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
